
<div class="row">
  <div class="col-xs-4">
    <div class="col-xs-offset-1">
      <h1>Edit User</h1>
      <form action="<%= users_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="patch">
        <div class="form-control">
        <label for="user[username]">Username</label>
        <input type="text" name="user[username]" value="<%= @user.username if @user %>"> <br>
      </div>
      <div class="form-control">
        <label for="user[password]">Password</label>
        <input type="password" name="user[password]"> <br>
      </div>
         <br><input type="submit" class="btn btn-primary" value="Update User">
      </form>
    </div>
  </div>
</div>
