
<div class="jumbotron">
  <h1>About</h1>
  <div class="row">
    <div class="col-xs-6">
      YO WHATS UP!
    </div>
    <div class="col-xs-6">
      I'M KILLING THIS RIGHT NOW
    </div>
  </div>
</div>
<div class="row">
  <h1>MEET MUSIC PEOPLE WHO JAM STUFF IN THEIR EARS</h1>
  <div class="row text-center">
    <div class="col-xs-3">
      <img src="/assets/lns_crew_pic.jpg" alt="west coastin" style="width: 90%; height: 90%" class=img-circle>
      <h2>LA</h2>
      <p>
        I am awesome
      </p>
    </div>
      <div class="col-xs-3">
            <img src="/assets/lns_crew_pic.jpg" alt="chea" style="width: 90%; height: 90%" class=img-circle>
            <h2>NYC</h2>
            <p>
              I am cold
            </p>
      </div>
        <div class="col-xs-3">
          <img src="/assets/lns_crew_pic.jpg" alt="nah" style="width: 90%; height: 90%" class=img-circle>
          <h2>SF</h2>
          <p>
            I am tired
          </p>
        </div>
          <div class="col-xs-3">
            <img src="/assets/lns_crew_pic.jpg" alt="wtf" style="width: 90%; height: 90%" class=img-circle>
            <h2>TX</h2>
            <p>
              I am wet
            </p>
          </div>
  </div>

</div>
