


  <div class="row">

<div class="col-xs-6">
      <h1> Contact</h1>
<form>
      <div class="form-control">
  <label for="name">Name   </label>
  <input type="text" name="name" value="">
</div>
      <div class="form-control">
  <label for="email">Email  </label>
  <input type="text" name="email" value="">
  </div>
        <div class="form-control">
  <label for="email">Subject </label>
  <input type="text" name="subject" value="">
</div>
  <textarea name="text" class="form-control" rows="8"></textarea>
<div class="row-offset-xs-8">

</div><br><br><br><br><br><br><br><br><br>
  <input type="button" class="btn btn-primary" value="This button doesn't do anything!">
</form>
</div>
<div class="col-xs-6">
<h2> CONTACTS FOR YOU LONELY SOULS</h2>
<p>
  Find out who to spam with this handy guide!
</p>
  <table class="table table-striped">
<thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
    <th>
      Phone Number
    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Haris Qureshi</td>
    <td>thethinkdank@gmail.com</td>
    <td>512-413-6298</td>
  </tr>
  <tr>
    <td>Harris Da Terrist</td>
    <td>itsthelnscrew@gmail.com</td>
    <td>512-555-0420</td>
  </tr>
</tbody>
  </table>


</div>


  </div>
