<h1>ALL BANDS</h1>


<% @bands.each do |band| %>
<%= link_to band.name, band_url(band) %>
<%= button_to "Edit Band", edit_band_url(band), method: :get%>
<%= button_to "Delete Band", band_url(band), method: :delete%>
<% end %>
<br><br>
<%= link_to "Create Band", new_band_url %>
