<h1><%= @band.name %></h1>

<%= button_to "Edit Band", edit_band_url(@band), method: :get%> <br>
<%= button_to "Delete Band", band_url(@band), method: :delete%>
<br>
<%= link_to "Index", bands_url %>
